<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDSL Administration System</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="/css/season.css">
</head>

<body>
    <div class="ui six item menu">
        <a class="item" href="/seasons">Season Manager</a>
        <a class="item" href="/results">Results Manager</a>
        <a class="item">Clubs</a>
        <a class="item">Teams</a>
        <a class="item" href="/players">Players</a>
        <a class="item">Reporting</a>
    </div>